@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* FONTS */
.roboto {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.funnels {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

body, html{
    width: 100%;
    overflow-x: hidden;
}

/* Hero Section */
.hero {
    background: url('../img/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
}

.hero div{
    background: #ffa900;
    border-radius: 5vh;
}

.subtitle{
    text-decoration: underline #f7aa14 5px;
}

/* Botão WhatsApp flutuante */
.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    padding: 12px 16px;
    border-radius: 50px;
    font-size: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}
.btn-oprimary{
    background-color: #fea000;
    color: #fff;
}
.btn-oprimary:hover{
    background-color: #fea000;
    color: #333;
}
.whatsapp-float:hover {
    transform: scale(1.1);
}
