body, html{
    width: 100%;
    overflow-x: hidden;
}

/* Hero Section */
.hero {
    background-image: url('https://raw.githubusercontent.com/foxtec198/oticas_atual/b8fabf6715c654408b1d7e8ec4e0c5d9c2d518ae/banner.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
}

.subtitle{
    text-decoration: underline #f7aa14 5px;
}

/* Botão WhatsApp flutuante */
.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    padding: 12px 16px;
    border-radius: 50px;
    font-size: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}
.btn-oprimary{
    background-color: #fea000;
    color: #fff;
}
.btn-oprimary:hover{
    background-color: #fea000;
    color: #333;
}
.whatsapp-float:hover {
    transform: scale(1.1);
}
